<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo1</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad nam error minus
                 molestias aut voluptas, voluptatem, eum a consectetur,
                 delectus qui dolore fugiat nesciunt ipsam blanditiis
                 aliquid earum iusto debitis.
            </p>
        </ul>
        <ul>
            <li><h1>Trabajo2</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad nam error minus
                 molestias aut voluptas, voluptatem, eum a consectetur,
                 delectus qui dolore fugiat nesciunt ipsam blanditiis
                 aliquid earum iusto debitis.
            </p>
        </ul>
        <ul>
            <li><h1>Trabajo3</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad nam error minus
                 molestias aut voluptas, voluptatem, eum a consectetur,
                 delectus qui dolore fugiat nesciunt ipsam blanditiis
                 aliquid earum iusto debitis.
            </p>
        </ul>
    </div>
</div>
