<div class="row">
        <h1>Hard & Soft Skills</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [imageSrc]="'../assets/htmlicono.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [titleFontSize]="'2em'"
        [radius]="85"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="550">
       </circle-progress> 
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [imageSrc]="'../assets/cssicono.jpg'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [titleFontSize]="'2em'"
        [radius]="85"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="550">
       </circle-progress> 
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [imageSrc]="'../assets/jsicono.jpg'"
        [showImage]="true"
        [imageHeight]="85"
        [imageWidth]="85"
        [titleFontSize]="'2em'"
        [radius]="85"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="550">
       </circle-progress> 
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [imageSrc]="'../assets/angularicono.jpg'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [titleFontSize]="'2em'"
        [radius]="85"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="550">
       </circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [imageSrc]="'../assets/javaicono.jpg'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [titleFontSize]="'2em'"
        [radius]="85"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="550">
       </circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [imageSrc]="'../assets/mysqlicono.jpg'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [titleFontSize]="'2em'"
        [radius]="85"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="550">
       </circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [title]="'HTML'"
    [titleColor]="'blue'"
    [imageSrc]="'../assets/githubicono.jpg'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [titleFontSize]="'2em'"
    [radius]="85"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="550">
   </circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [title]="'HTML'"
    [titleColor]="'blue'"
    [imageSrc]="'../assets/idiomaicono.jpg'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [titleFontSize]="'2em'"
    [radius]="85"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="550">
   </circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [title]="'HTML'"
    [titleColor]="'blue'"
    [imageSrc]="'../assets/teamicono.jpg'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [titleFontSize]="'2em'"
    [radius]="85"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="550">
   </circle-progress> 
</div>
</div>
