<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto_perfil.jpg" alt="" id="fotoDePerfil"
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Nelson Ivan Pacher Navarro</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            
            <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                     Dolorum ipsam, <br>et excepturi sequi deleniti fugiat
                     eius maiores expedita,<br>
                      tempora, doloremque recusandae veniam mollitia. 
                    Eveniet minima delectus accusantium 
                    modi officiis exercitationem?</p>
    
        </span>
    </div>
</div>
 