<div class="row">
  <div class="container">
    <div class="logo">
        <img src="../../../assets/banner-ok-argentina-programa.jpg" alt="" id="logoap">
  </div>
     <div class="redes">
         
            <a href=""><img src="../../../assets/linkedinLogo.jpg" alt="" id="linkedin"></a>
            <a href=""><img src="../../../assets/github_logo.jpg" alt="" id="github"></a>
            <a href=""><img src="../../../assets/instalogo.jpg" alt="" id="instagram"></a>
            <a href=""><img src="../../../assets/fb_logo.jpg" alt="" id="facebook"></a>
            <button type="button">Entrar</button>
    </div>
    
        
  </div>
  
</div>

